services:
  - type: web
    name: pastebin-lite-backend
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: TEST_MODE
        sync: false
